<div class="row col-md-12" style="margin-top: 20vh;">
    <div class="col-md-12">
        <span style="cursor: pointer;" [routerLink]="['/']">Equipment Catalog</span>
    </div>
    <div class="col-md-3" *ngFor="let img of catgory.categories">
        <img src="assets/category/{{img.image}}" class="card-img-top" style="height: 25vh;width:10vw;">
        <div class="card-body">
            <button class="btn btn-primary" style="color: white;" (click)="subcategories(img)"> {{img.name}} </button>
        </div>
    </div>
</div>